# ROOT build artefaktit
*.so
*.pcm
*.d
*_dict*.h

# Outputit ja isot tiedostot
plots/
plots2/
results/
histograms/
root_files2025/
inputfiles2025/
irootfiles2025/

# Muut isot tiedostot
*.root
*.pdf
*.png
*.aux
*.log
